[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
pytest-django = "*"
ipdb = "*"
psycopg2-binary = "*"
celery = {extras = ["redis"], version = "*"}
redis = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.8"
